* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.loading {
  animation: loading 1s infinite linear;
  width: 60px;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.weather-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.weather-box h4 {
  font-size: 22px;
  font-weight: normal;
}
.temp {
  font-size: 50px;
  font-weight: normal;
  margin-top: -30px;
}
.description {
  display: flex;
  margin-top: -15px;
  font-size: 18px;
  font-weight: bold;
}
.tems {
  display: flex;
  gap: 20px;
  margin-top: -28px;
  font-size: 18px;
  font-weight: bold;
}
.bts {
  background-color: #ffffff00;
  padding: 40px;
  border-radius: 18px;
  -webkit-backdrop-filter: blur(30px) saturate(1.8);
  backdrop-filter: blur(20px) saturate(2);
  display: flex;
}
.bts button {
  font-size: 18px;
  background: none;
  border: none;
  color: #fff;
  padding: 0 30px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.bts button:nth-child(n + 2) {
  border-left: 1px solid #ffffff54;
}
.bts button:hover {
  text-decoration: underline;
}
