* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading {
  animation: loading 1s infinite linear;
  width: 60px;
  position: relative;
  z-index: 999;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.weather-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.weather-box h4 {
  font-size: 22px;
  font-weight: normal;
}
.temp {
  font-size: 50px;
  font-weight: normal;
  margin-top: -30px;
}
.description {
  display: flex;
  margin-top: -15px;
  font-size: 18px;
  font-weight: bold;
}
.tems {
  display: flex;
  gap: 20px;
  margin-top: -28px;
  font-size: 18px;
  font-weight: bold;
}
.bts {
  margin-top: 30px;
  width: 980px;
  background-color: #1d1d1f26;
  padding: 40px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(100px) saturate(1.8);
  backdrop-filter: blur(20px) saturate(2);
  display: flex;
  box-sizing: border-box;
}
.bts button {
  font-size: 18px;
  background: none;
  font-weight: bold;
  border: none;
  color: #fff;
  padding: 0 30px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.bts button:nth-child(n + 2) {
  border-left: 1px solid #ffffff54;
}
.bts button:hover {
  text-decoration: underline;
}
.weathers {
  gap: 15px;
  margin-top: 15px;
  width: 980px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.boxs {
  background-color: #1d1d1f26;
  padding: 12px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(100px) saturate(1.8);
  backdrop-filter: blur(20px) saturate(2);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.box1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}
.box2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.box3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.header {
  border-bottom: 1px solid #ffffff54;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 14px;
}
